<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EDITANDO EMPLEADO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
</style>
</head>
<body>
<div class="container-fluid">
  <h1>EDITAR LOS DATOS DEL EMPLEADO</h1>
  <br>
  <form th:action="@{/ActualizarEmpleado}" th:object="${emple}" method="post">
    <!--ID-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="id">ID de la Empleado:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{id}" class="form-control" id="id" required="required" readonly></div>
      </div>
    </div>

    <!--Nombre-->
    <div class="row">
    <div class="form-group col-md-12">
      <label class="col-md-3" for="nombre">NOMBRE DEl EMPLEADO:</label>
      <div class="col-md-6">
      <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required">
      </div>
      </div>
    </div>

    <!--Correo-->
    <div class="row">
    <div class="form-group col-md-12">
      <label class="col-md-3" for="Correo">CORREO DEL EMPLEADO:</label>
      <div class="col-md-6">
        <input type="email" th:field="*{Correo}" class="form-control" id="Correo" required="required">
      </div>
      </div>
    </div>

    <!--Empresa-->
    <div class="row">
    <div class="form-group col-md-12">
      <label class="col-md-3" for="Empresa">EMPRESA A LA QUE PERTENECE:</label>
      <div class="col-md-6">
        <select th:field="*{Empresa}" class="form-control" id="Empresa" required="required">
          <option th:each="empresa : ${emprelist}" th:text="${empresa.nombre}"th:value="${empresa.id}" >
          </option>
        </select>
      </div>
      </div>
    </div>

    <!--Rol-->
    <div class="row">
    <div class="form-group col-md-12">
      <label class="col-md-3" for="Rol">ROL DEL EMPLEADO:</label>
      <div class="col-md-6">
        <select th:field="*{Rol}" class="form-control" id="Rol" required="required">
        <option th:value=1>Administrativo</option>
          <option th:value=2>Operativo</option>
        </select>
        </div>
      </div>
    </div>

    <!-- button enviar-->
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success">Actualizar Empleado</button>
      </div>
    </div>

  </form>
  <!-- button atras primera version
  <div class="row">
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-primary">VOLVER</button>
    </div>
  </div>-->
  <br>
  <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>

</div>
</body>
</html>